<header><h2>Commercial Role</h2></header>

<div class="container">
  <div class="create-appointment-box">

    <label for="clientName">Client Name:</label>
    <input #clientNameInput type="text" id="clientName" />

    <label for="appointmentDate">Appointment Date:</label>
    <input #appointmentDateInput type="datetime-local" id="appointmentDate" />

    <label for="appointmentSubject">Appointment Subject:</label>
    <input #appointmentSubjectInput type="text" id="appointmentSubject" />

    <button (click)="createAppointment(clientNameInput.value, appointmentDateInput.value, appointmentSubjectInput.value)">Create Appointment</button>
  </div>
</div>

<h2>Appointment List</h2>
<ul class="appointment-list">
  <li *ngFor="let appointment of appointments; let odd = odd; let even = even"
      [ngClass]="{ 'odd-row': odd, 'even-row': even }">
    <strong>Client Name:</strong> {{ appointment.client_Name }}<br>
    <strong>Appointment Date:</strong> {{ appointment.appointment_Date | date:'yyyy-MM-dd HH:mm:ss' }}<br>
    <strong>Appointment Subject:</strong> {{ appointment.appointment_Subject }}
    <button (click)="navigateToUpdate(appointment)" class="btn btn-success"> Edit  </button>
    <button (click)="deleteAppointment(appointment)" class="btn btn-danger">Delete</button>
  </li>
</ul>