<header><h2>Commercial Role</h2></header>

<div class="container">
  <div class="create-appointment-box">

    <label for="clientName">Client Name:</label>
    <input #clientNameInput type="text" id="clientName" />

    <label for="appointmentDate">Appointment Date:</label>
    <input #appointmentDateInput type="datetime-local" id="appointmentDate" />

    <label for="appointmentSubject">Appointment Subject:</label>
    <input #appointmentSubjectInput type="text" id="appointmentSubject" />

    <button (click)="createAppointment(clientNameInput.value, appointmentDateInput.value, appointmentSubjectInput.value)">Create Appointment</button>
  </div>
</div>

<header><h2>Appointment List</h2></header>
<ul class="appointment-list">
   <!-- "single class binding" 意味着通过条件来动态地绑定单个CSS类· -->
  <li *ngFor="let appointment of appointments; let i = index"
      [class.even-row]="i%2==0" [class.odd-row]="i%2" >
    <strong>Client Name:</strong> {{ appointment.client_Name }}<br>
    <strong>Appointment Date:</strong> {{ appointment.appointment_Date | date:'yyyy-MM-dd HH:mm:ss' }}<br>
    <strong>Appointment Subject:</strong> {{ appointment.appointment_Subject }} <br>
    <div class = "button-container"> 
        <div class="right-aligned">
    <button (click)="navigateToUpdate(appointment)" class="btn btn-success spaced-button"> Modify </button>
    <button (click)="deleteAppointment(appointment)" class="btn btn-danger spaced-button"> Delete </button>  
    </div>
  </div>
  </li>
</ul>