header {
    text-align: center;
  }


.container {
  display: flex;
  /* 主轴方向上对齐 */
  justify-content: center; 
   /* 交叉轴方向上对齐 */
  align-items: center;
}

/* 创建约会框样式 */
.create-appointment-box {
  max-width: 1500px; /* 调整容器宽度，以容纳更多元素 */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* 允许内容换行到下一行 */
}

/* 输入字段样式 */
.create-appointment-box label {
  flex: 1; /* 让 label 元素平均占据一行内的空间 */
  margin-right: 10px; /* 为了在 label 之间添加一些间距 */
}

.create-appointment-box input {
  flex: 2; /* 让 input 元素占据两行内的空间 */
  padding: 8px;
  margin-bottom: 10px;
  margin-right: 10px; /* 添加 input 元素之间的间距 */
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.create-appointment-box button {
  flex: 1; /* 让 button 元素占据一行内的空间 */
  padding: 10px 15px;
  background-color:  #39777C;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.create-appointment-box button:hover {
  background-color: #1B455E;
}

  /* appointment-list.component.css */

/* 奇数行样式 */
.odd-row {
  background-color: #f0f0f0;

}

/* 偶数行样式 */
.even-row {
  background-color: #ffffff;
}

/* 通用样式 */
.appointment-list li {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  margin-bottom: 5px;
}




.spaced-button {
  flex-grow: 1; /* 让按钮平均分配可用空间 */
  margin-right: 5px; /* 添加右侧间距 */
}

.button-container{

  display: flex;
  justify-content: flex-end; /* 将内容推到最右侧 */
}
.right-aligned {
  display: inline-block; /* 保持内部元素的原始大小 */
}
