.filter-container {
  display: flex;
  justify-content: flex-end; /* 将内容推到最右侧 */
  align-items: center;
  margin-bottom: 16px;
}

.filter-input {
  display: flex;
  align-items: center;
}

.filter-input mat-form-field {
  margin-right: 8px; /* 调整输入框与按钮之间的间距 */
}

.filter-button {
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #0056b3;
}

.filter-input button {
  color: #000000;

}

header {
    text-align: center;
  }
